body {
    background-color: rgb(189, 220, 255) !important;
    font-family: Arial, Helvetica, sans-serif !important;

}

div#main {
    top: 20px;
    position: relative;
    width: 80%;
    left: 10%;
}

img.logo {
    width: 40%;
}

table#menu {
    width: 100%;
    border-collapse: collapse;
}

table#menu td {
    text-align: center;
    font-weight: bold;
    padding: 10px;    
}

table#menu td a {
    text-decoration: none;
    color: rgb(8, 0, 117);
}

div#content {
    position: relative;
    padding: 40px;
    padding-top: 15px !important;
    border-radius: 5px;
    background-color: white;
}

div#ejemplo {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div#ejemplo pre {
    padding-left: 7%;
}

div#footer {
    padding-top: 15px;
    font-weight: bold;
}

li {
    padding: 2px;
}

h3 {
    border-bottom: 1px solid rgb(8, 0, 117);
}

.numeros {
    width: 150px;
}

.refrescos {
    width: 150px;
}